.navbar {
    background-color: #E9D7DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-link {
  display: flex;  
  text-decoration: none;
    color: black;
   font-family: Objektiv Mk1, sans-serif; 
    font-weight: bold;
  font-size:18px;
    padding: 15px;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #F266A7;
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.text-block {
    padding: 15px;
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Sketchnote Square Regular', cursive; color: #F266A7;
    margin: 0; font-size:8vw;
}

h2 {
    font-family: 'Museo Slab', serif;
    margin: 0; font-size:8vw;
}

.image {
    width: 60%;
    height: auto;
    padding: 15px;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .grid-item {
        flex-direction: row;
    }

    .text-block {
        flex: 1;
        margin-right: 20px;
    }
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: Objektiv Mk1;
    font-weight: bolder;
}
.label1 { background-color: #FFB4BF; }
.label2 { background-color: #F2B263; }
.label3 { background-color: #A7DEF2; }
.label4 { background-color: #F1DAFA; }

/* Media Queries */
@media screen and (min-width: 600px) {
    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 480px) {
img {
width: 100%;
}
}